@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --container-color: #019f9d;
  --board-container-color: #dcdcdc;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow: hidden;
}

.container {
  background-color: var(--container-color);
  width: 100vw;
  height: 100vh;
}

.container__header {
  display: flex;
  width: 100vw;
  background-color: #018a8d;
  height: 4em;
  color: white;
  align-items: center;
}

.container__header p {
  margin: 2em;
}

.board-container {
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1em;
  border-radius: 1%;
  width: 27.5%;
  height: 60vh;
  background-color: var(--board-container-color);
}

.board-container p {
  margin: 1em;
}

.board-container__board {
  display: grid;
  margin: 1em;
  background-color: white;
  width: 90%;
  height: 8em;
}

.board-container__board__icons img {
  width: 7%;
  margin: 1em;
}

.board-container__board__author {
  display: flex;
  justify-content: flex-end;
}

.board-container__board__author img {
  width: 10%;
}
