.chat-container {
  display: grid;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.message-row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.message-row.receiver {
  grid-template-columns: 1fr auto;
  justify-content: end;
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 15px 15px 15px 0;
  max-width: 70%;
  font-size: 14px;
}

.sender .message-bubble {
  background-color: #f8bcbc;
  color: #333;
}

.receiver .message-bubble {
  background-color: #a8e4ff;
  border-radius: 15px 15px 0 15px;
  color: #333;
}

.message-row__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
